<!DOCTYPE html>
<html>
    <head>
        <title>qld-gas</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="sb-admin.css">
        <link rel="stylesheet" href="react-datetime.css">
        <link rel="stylesheet" href="react-bootstrap-table-all.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
        <style>
          .Select-menu-outer {z-index:1000;}
          .dropdown-expiry-month{ width: 60px }
          .dropdown-expiry-year{ width: 70px }
        </style>
    </head>
    <body>
        <div id="ReactRoot"></div>
        <script>
          //var appConfig = <%= htmlWebpackPlugin.options.appConfig%>;
        </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>